# Bundler
/.bundle

# Environment files
/.env*

# Logs and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PIDs
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage (user uploads)
#/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Rails assets
/public/assets

# Rails credentials
/config/*.key
/config/credentials.yml.enc

# Vendor
/vendor/*

# Node
/node_modules/

# SQLite (ignore only if SQLite is used)
# /db/*.sqlite3
# /db/*.sqlite3-journal

# Deployment config (optional)
/.kamal
